<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Delete'; else elseTemplate">
    <mat-form-field>
      <input placeholder="Approve" type="number" min="0" max="1" matInput [(ngModel)]="local_data.approval">
    </mat-form-field>
    <p style="color:red;font-size: 9px;margin-bottom:0">"0" - Pending Approval</p>
    <p style="color:red;font-size: 9px;">"1" - Approved</p>
  </div>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.title}}</b> reservation?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>