/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/united/bootstrap.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.e-schedule .e-read-only {
    opacity: .4;
}
.e-location-container, 
.e-time-zone-container, 
.e-description-row,
body .e-schedule-dialog .e-all-day-time-zone-row,
.e-recurrenceeditor .e-days, .e-recurrenceeditor .e-interval .e-recurrence-table {
display: none !important;
}

.e-start-end-row .e-end-container {
    pointer-events:none;
    opacity: 0.5
}